{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}      
        
        {% comment %}
          <div class="row"> 

            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                  <h2><a href="{% url 'home:meal_list' %}">Meal</a></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <table class="" style="width:100%">
                    <tr>
                      <th style="width:37%;">
                        <p>Top 5</p>
                      </th>
                      <th>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                          <p class="">Device</p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                          <p class="">Progress</p>
                        </div>
                      </th>
                    </tr>
                    <tr>
                      <td>
                        <canvas id="canvas1" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                      </td>
                      <td>
                        <table class="tile_info">
                          <tr>
                            <td>
                              <p><i class="fa fa-square blue"></i>IOS </p>
                            </td>
                            <td>30%</td>
                          </tr>
                          <tr>
                            <td>
                              <p><i class="fa fa-square green"></i>Android </p>
                            </td>
                            <td>10%</td>
                          </tr>
                          <tr>
                            <td>
                              <p><i class="fa fa-square purple"></i>Blackberry </p>
                            </td>
                            <td>20%</td>
                          </tr>
                          <tr>
                            <td>
                              <p><i class="fa fa-square aero"></i>Symbian </p>
                            </td>
                            <td>15%</td>
                          </tr>
                          <tr>
                            <td>
                              <p><i class="fa fa-square red"></i>Others </p>
                            </td>
                            <td>30%</td>
                          </tr>
						  
                        </table>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
			
          </div>
         
        {% endcomment %} 
                   
		  <br />  

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph">
				<!-- start form -->
				
				<form id="searchform" action="." method="get" accept-charset="utf-8">
                <div class="row x_title">
                  <div class="col-md-6">
                    <h3>Progress <small></small></h3>
                  </div>
                  <div class="col-md-6">
                    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                      <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                    </div>
                  	<div class="pull-right">
					{% csrf_token %}
					  <button class="searchbutton" type="submit">
					    <i class="fa fa-search"></i>
					  </button>
					  <input class="searchfield" data-id="{{userlog.id}}"  id="search_comment" name="search_comment" type="text" placeholder="Search">
				  	</div>
                  </div>
                </div>

                <div class="col-md-9 col-sm-9 col-xs-12">
                  <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
                  <div style="width: 100%;">
                    <!-- <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height:270px;"></div> -->                    
                    <div class="x_content">
                    
					{% if userlog_list %}
	                  <table class="" style="width:100%">
	                    <tr>
	                      <th style="width:37%;">
	                        <p>Chart</p>
	                      </th>
	                      <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
	                          <p class="">Time</p>
                          </th>
	                      <th class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
	                          <p class="">Comment</p>
                          </th>
	                      <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
	                          
                          </th>
	                    </tr>
	                    <tr>
	                      <td>
	                        <canvas id="canvas1" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
	                      </td>
	                      <td colspan="3">
	                        <table style="width:100%;">
	                         	                         
						    {% for userlog in userlog_list %}
						      <tr>
						        <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><i class="fa fa-square blue"></i>{{ userlog.log_time }}</td>
						        <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ userlog.comment }}</td>
						        <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3"> 
								    <a href="{% url "userlog:userlog_detail" userlog.id %}">view</a> |
								    <a href="{% url "userlog:userlog_update" userlog.id %}">edit</a> |
								    <a href="{% url "userlog:userlog_delete" userlog.id %}">delete</a>
								</td>
						      </tr>
						    {% endfor %}
	                         
	                        </table>
	                      </td>
	                    </tr>
	                  </table>
	                {% if is_paginated %}
					  <ul class="pagination">
					    {% if page_obj.has_previous %}
					      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
					    {% else %}
					      <li class="disabled"><span>&laquo;</span></li>
					    {% endif %}
					    {% for i in paginator.page_range %}
					      {% if page_obj.number == i %}
					        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
					      {% else %}
					        <li><a href="?page={{ i }}">{{ i }}</a></li>
					      {% endif %}
					    {% endfor %}
					    {% if page_obj.has_next %}
					      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
					    {% else %}
					      <li class="disabled"><span>&raquo;</span></li>
					    {% endif %}
					  </ul>
					{% endif %}	
					{% else %}
					    <p>No logs are available.</p>
					{% endif %}
					<a href="{% url "userlog:userlog_create" %}">New</a>  
                	</div>                	
                	                                 
                  </div>
                </div>
                
                <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                  <div class="x_title">
                    <h2>Thumbs Up</h2>
                    <div class="clearfix"></div>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-6">
                    <div>
                      <p>Facebook Campaign</p>
                      <div class="">
                        <div class="progress progress_sm" style="width: 76%;">
                          <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="20"></div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <p>Twitter Campaign</p>
                      <div class="">
                        <div class="progress progress_sm" style="width: 76%;">
                          <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="60"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-6">
                    <div>
                      <p>Conventional Media</p>
                      <div class="">
                        <div class="progress progress_sm" style="width: 76%;">
                          <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="40"></div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <p>Bill boards</p>
                      <div class="">
                        <div class="progress progress_sm" style="width: 76%;">
                          <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="clearfix"></div>
					</form> 
                <!-- end form -->
              </div>
            </div>

          </div>
                 
          <!-- bottom tiles -->
          <div class="row tile_count">
            <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
              <div class="count">2500</div>
              <span class="count_bottom"><i class="green">4% </i> From last Week</span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-clock-o"></i> Average Time</span>
              <div class="count">123.50</div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>
            </div>
            
            <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Total Collections</span>
              <div class="count">2,315</div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Total Connections</span>
              <div class="count">7,325</div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
            </div>
          </div>
          <!-- /bottom tiles -->
      
{% endblock %}

{% block index_page %}<a href="{% url 'home:index' %}" class="site_title"><i class="fa fa-home"></i> <span> Home </span></a>{% endblock %}
{% block meal_page %}<a href="{% url 'meal:meal_list' %}"><i class="fa fa-cutlery"></i> <span> Meal </span></a>{% endblock %}
{% block exercise_page %}<a href="{% url 'home:index' %}"><i class="fa fa-bicycle"></i> <span> Exercise </span></a>{% endblock %}
{% block userlog_page %}<a href="{% url 'userlog:userlog_list' %}"><i class="fa fa-book"></i> <span> Logs </span></a>{% endblock %}

{% block view_profile %}<a href="{% url 'home:userprofile_detail' %}"><i class="fa pull-right"></i> {% trans 'Profile' %}</a>{% endblock %}

{% block change_password_url %}<a href="{% url 'account_change_password' %}"><i class="fa pull-right"></i> {% trans 'Change password' %}</a>{% endblock %}
{% block logout_url %}<a href="{% url 'account_logout' %}"><i class="fa fa-sign-out pull-right"></i> {% trans 'Log out' %}</a>{% endblock %}

{% comment %}{% block logout_url %}<a href="{% url 'home:logout' %}"><i class="fa fa-sign-out pull-right"></i> {% trans 'Log out' %}</a>{% endblock %}{% endcomment %}

