{% extends "home/index.html" %}
{% load i18n static %}

{% block content %}
<div id="content-main">
<h1>Meals</h1>
{% if meal_list %}
    <ul>
    {% for meal in meal_list %}
        <li> {{ meal.food_name }}  :  
		    <a href="{% url "home:meal_detail" meal.id %}">view</a> |
		    <a href="{% url "home:meal_update" meal.id %}">edit</a> |
		    <a href="{% url "home:meal_delete" meal.id %}">delete</a>
	    </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No meals are available.</p>
{% endif %}
<a href="{% url "home:meal_create" %}">New</a> 

</div>
{% endblock %}