{% extends "home/index.html" %}
{% load i18n static %}

{% block content %}
<div id="content-main">
<h1>User Logs</h1>
{% if userlog_list %}
    <ul>
    {% for userlog in userlog_list %}
        <li> {{ userlog.id }}  :  
		    <a href="{% url "home:userlog_detail" userlog.id %}">view</a> |
		    <a href="{% url "home:userlog_update" userlog.id %}">edit</a> |
		    <a href="{% url "home:userlog_delete" userlog.id %}">delete</a>
	    </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No meals are available.</p>
{% endif %}
<a href="{% url "home:userlog_create" %}">New</a> 

</div>
{% endblock %}