{% extends "home/index.html" %}
{% load i18n static %}

{% block content %}
<div id="content-main">
<h1>User Logs</h1>

<form id="searchform" action="." method="get" accept-charset="utf-8">
{% csrf_token %}
  <button class="searchbutton" type="submit">
    <i class="fa fa-search"></i>
  </button>
  <input class="searchfield" data-id="{{userlog.id}}"  id="search_comment" name="search_comment" type="text" placeholder="Search">




{% if userlog_list %}
	<table class="table table-bordered">
	  <thead>
	    <tr>
	      <th></th>
	      <th>Type</th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for userlog in userlog_list %}
	      <tr>
	        <td>{{ userlog }}</td>
	        <td>{{ userlog.log_time }}</td>
	        <td> 
			    <a href="{% url "userlog:userlog_detail" userlog.id %}">view</a> |
			    <a href="{% url "userlog:userlog_update" userlog.id %}">edit</a> |
			    <a href="{% url "userlog:userlog_delete" userlog.id %}">delete</a>
			</td>
	      </tr>
	    {% endfor %}
	  </tbody>
	</table>
{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}	
{% else %}
    <p>No logs are available.</p>
{% endif %}
<a href="{% url "userlog:userlog_create" %}">New</a> 

</form>


</div>

{% endblock %}


{% block extrascripts %}
  <script>
  
$(document).ready(function(){
	$('#searchform').submit(function (event) {
		//event.preventDefault(); //Uncomment to activate AJAX
		$.ajax({
	    	type:"get",
	    	url:"{% url 'userlog:userlog_list' %}",
	    	data : {
	            'search_comment': $('#search_comment').val(),
	            'csrfmiddlewaretoken':$("input[name=csrfmiddlewaretoken]").val()
	           	},
	    });
		//alert('jvoih');
   	})
 });
  
  </script>
{% endblock %}
